@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../img/glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat; }

[class^="icon-"]:last-child,
[class*=" icon-"]:last-child {
  *margin-left: 0; }

.icon-white {
  background-image: url("../img/glyphicons-halflings-white.png"); }

.icon-glass {
  background-position: 0      0; }

.icon-music {
  background-position: -24px 0; }

.icon-search {
  background-position: -48px 0; }

.icon-envelope {
  background-position: -72px 0; }

.icon-heart {
  background-position: -96px 0; }

.icon-star {
  background-position: -120px 0; }

.icon-star-empty {
  background-position: -144px 0; }

.icon-user {
  background-position: -168px 0; }

.icon-film {
  background-position: -192px 0; }

.icon-th-large {
  background-position: -216px 0; }

.icon-th {
  background-position: -240px 0; }

.icon-th-list {
  background-position: -264px 0; }

.icon-ok {
  background-position: -288px 0; }

.icon-remove {
  background-position: -312px 0; }

.icon-zoom-in {
  background-position: -336px 0; }

.icon-zoom-out {
  background-position: -360px 0; }

.icon-off {
  background-position: -384px 0; }

.icon-signal {
  background-position: -408px 0; }

.icon-cog {
  background-position: -432px 0; }

.icon-trash {
  background-position: -456px 0; }

.icon-home {
  background-position: 0 -24px; }

.icon-file {
  background-position: -24px -24px; }

.icon-time {
  background-position: -48px -24px; }

.icon-road {
  background-position: -72px -24px; }

.icon-download-alt {
  background-position: -96px -24px; }

.icon-download {
  background-position: -120px -24px; }

.icon-upload {
  background-position: -144px -24px; }

.icon-inbox {
  background-position: -168px -24px; }

.icon-play-circle {
  background-position: -192px -24px; }

.icon-repeat {
  background-position: -216px -24px; }

.icon-refresh {
  background-position: -240px -24px; }

.icon-list-alt {
  background-position: -264px -24px; }

.icon-lock {
  background-position: -287px -24px; }

.icon-flag {
  background-position: -312px -24px; }

.icon-headphones {
  background-position: -336px -24px; }

.icon-volume-off {
  background-position: -360px -24px; }

.icon-volume-down {
  background-position: -384px -24px; }

.icon-volume-up {
  background-position: -408px -24px; }

.icon-qrcode {
  background-position: -432px -24px; }

.icon-barcode {
  background-position: -456px -24px; }

.icon-tag {
  background-position: 0 -48px; }

.icon-tags {
  background-position: -25px -48px; }

.icon-book {
  background-position: -48px -48px; }

.icon-bookmark {
  background-position: -72px -48px; }

.icon-print {
  background-position: -96px -48px; }

.icon-camera {
  background-position: -120px -48px; }

.icon-font {
  background-position: -144px -48px; }

.icon-bold {
  background-position: -167px -48px; }

.icon-italic {
  background-position: -192px -48px; }

.icon-text-height {
  background-position: -216px -48px; }

.icon-text-width {
  background-position: -240px -48px; }

.icon-align-left {
  background-position: -264px -48px; }

.icon-align-center {
  background-position: -288px -48px; }

.icon-align-right {
  background-position: -312px -48px; }

.icon-align-justify {
  background-position: -336px -48px; }

.icon-list {
  background-position: -360px -48px; }

.icon-indent-left {
  background-position: -384px -48px; }

.icon-indent-right {
  background-position: -408px -48px; }

.icon-facetime-video {
  background-position: -432px -48px; }

.icon-picture {
  background-position: -456px -48px; }

.icon-pencil {
  background-position: 0 -72px; }

.icon-map-marker {
  background-position: -24px -72px; }

.icon-adjust {
  background-position: -48px -72px; }

.icon-tint {
  background-position: -72px -72px; }

.icon-edit {
  background-position: -96px -72px; }

.icon-share {
  background-position: -120px -72px; }

.icon-check {
  background-position: -144px -72px; }

.icon-move {
  background-position: -168px -72px; }

.icon-step-backward {
  background-position: -192px -72px; }

.icon-fast-backward {
  background-position: -216px -72px; }

.icon-backward {
  background-position: -240px -72px; }

.icon-play {
  background-position: -264px -72px; }

.icon-pause {
  background-position: -288px -72px; }

.icon-stop {
  background-position: -312px -72px; }

.icon-forward {
  background-position: -336px -72px; }

.icon-fast-forward {
  background-position: -360px -72px; }

.icon-step-forward {
  background-position: -384px -72px; }

.icon-eject {
  background-position: -408px -72px; }

.icon-chevron-left {
  background-position: -432px -72px; }

.icon-chevron-right {
  background-position: -456px -72px; }

.icon-plus-sign {
  background-position: 0 -96px; }

.icon-minus-sign {
  background-position: -24px -96px; }

.icon-remove-sign {
  background-position: -48px -96px; }

.icon-ok-sign {
  background-position: -72px -96px; }

.icon-question-sign {
  background-position: -96px -96px; }

.icon-info-sign {
  background-position: -120px -96px; }

.icon-screenshot {
  background-position: -144px -96px; }

.icon-remove-circle {
  background-position: -168px -96px; }

.icon-ok-circle {
  background-position: -192px -96px; }

.icon-ban-circle {
  background-position: -216px -96px; }

.icon-arrow-left {
  background-position: -240px -96px; }

.icon-arrow-right {
  background-position: -264px -96px; }

.icon-arrow-up {
  background-position: -289px -96px; }

.icon-arrow-down {
  background-position: -312px -96px; }

.icon-share-alt {
  background-position: -336px -96px; }

.icon-resize-full {
  background-position: -360px -96px; }

.icon-resize-small {
  background-position: -384px -96px; }

.icon-plus {
  background-position: -408px -96px; }

.icon-minus {
  background-position: -433px -96px; }

.icon-asterisk {
  background-position: -456px -96px; }

.icon-exclamation-sign {
  background-position: 0 -120px; }

.icon-gift {
  background-position: -24px -120px; }

.icon-leaf {
  background-position: -48px -120px; }

.icon-fire {
  background-position: -72px -120px; }

.icon-eye-open {
  background-position: -96px -120px; }

.icon-eye-close {
  background-position: -120px -120px; }

.icon-warning-sign {
  background-position: -144px -120px; }

.icon-plane {
  background-position: -168px -120px; }

.icon-calendar {
  background-position: -192px -120px; }

.icon-random {
  background-position: -216px -120px; }

.icon-comment {
  background-position: -240px -120px; }

.icon-magnet {
  background-position: -264px -120px; }

.icon-chevron-up {
  background-position: -288px -120px; }

.icon-chevron-down {
  background-position: -313px -119px; }

.icon-retweet {
  background-position: -336px -120px; }

.icon-shopping-cart {
  background-position: -360px -120px; }

.icon-folder-close {
  background-position: -384px -120px; }

.icon-folder-open {
  background-position: -408px -120px; }

.icon-resize-vertical {
  background-position: -432px -119px; }

.icon-resize-horizontal {
  background-position: -456px -118px; }

.icon-hdd {
  background-position: 0 -144px; }

.icon-bullhorn {
  background-position: -24px -144px; }

.icon-bell {
  background-position: -48px -144px; }

.icon-certificate {
  background-position: -72px -144px; }

.icon-thumbs-up {
  background-position: -96px -144px; }

.icon-thumbs-down {
  background-position: -120px -144px; }

.icon-hand-right {
  background-position: -144px -144px; }

.icon-hand-left {
  background-position: -168px -144px; }

.icon-hand-up {
  background-position: -192px -144px; }

.icon-hand-down {
  background-position: -216px -144px; }

.icon-circle-arrow-right {
  background-position: -240px -144px; }

.icon-circle-arrow-left {
  background-position: -264px -144px; }

.icon-circle-arrow-up {
  background-position: -288px -144px; }

.icon-circle-arrow-down {
  background-position: -312px -144px; }

.icon-globe {
  background-position: -336px -144px; }

.icon-wrench {
  background-position: -360px -144px; }

.icon-tasks {
  background-position: -384px -144px; }

.icon-filter {
  background-position: -408px -144px; }

.icon-briefcase {
  background-position: -432px -144px; }

.icon-fullscreen {
  background-position: -456px -144px; }

.w1 {
  width: 1%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w2 {
  width: 2%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w3 {
  width: 3%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w4 {
  width: 4%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w5 {
  width: 5%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w6 {
  width: 6%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w7 {
  width: 7%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w8 {
  width: 8%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w9 {
  width: 9%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w10 {
  width: 10%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w11 {
  width: 11%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w12 {
  width: 12%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w13 {
  width: 13%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w14 {
  width: 14%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w15 {
  width: 15%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w16 {
  width: 16%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w17 {
  width: 17%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w18 {
  width: 18%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w19 {
  width: 19%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w20 {
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w21 {
  width: 21%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w22 {
  width: 22%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w23 {
  width: 23%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w24 {
  width: 24%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w25 {
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w26 {
  width: 26%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w27 {
  width: 27%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w28 {
  width: 28%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w29 {
  width: 29%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w30 {
  width: 30%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w31 {
  width: 31%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w32 {
  width: 32%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w33 {
  width: 33%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w34 {
  width: 34%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w35 {
  width: 35%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w36 {
  width: 36%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w37 {
  width: 37%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w38 {
  width: 38%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w39 {
  width: 39%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w40 {
  width: 40%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w41 {
  width: 41%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w42 {
  width: 42%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w43 {
  width: 43%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w44 {
  width: 44%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w45 {
  width: 45%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w46 {
  width: 46%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w47 {
  width: 47%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w48 {
  width: 48%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w49 {
  width: 49%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w50 {
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w51 {
  width: 51%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w52 {
  width: 52%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w53 {
  width: 53%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w54 {
  width: 54%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w55 {
  width: 55%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w56 {
  width: 56%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w57 {
  width: 57%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w58 {
  width: 58%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w59 {
  width: 59%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w60 {
  width: 60%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w61 {
  width: 61%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w62 {
  width: 62%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w63 {
  width: 63%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w64 {
  width: 64%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w65 {
  width: 65%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w66 {
  width: 66%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w67 {
  width: 67%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w68 {
  width: 68%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w69 {
  width: 69%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w70 {
  width: 70%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w71 {
  width: 71%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w72 {
  width: 72%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w73 {
  width: 73%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w74 {
  width: 74%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w75 {
  width: 75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w76 {
  width: 76%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w77 {
  width: 77%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w78 {
  width: 78%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w79 {
  width: 79%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w80 {
  width: 80%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w81 {
  width: 81%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w82 {
  width: 82%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w83 {
  width: 83%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w84 {
  width: 84%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w85 {
  width: 85%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w86 {
  width: 86%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w87 {
  width: 87%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w88 {
  width: 88%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w89 {
  width: 89%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w90 {
  width: 90%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w91 {
  width: 91%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w92 {
  width: 92%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w93 {
  width: 93%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w94 {
  width: 94%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w95 {
  width: 95%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w96 {
  width: 96%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w97 {
  width: 97%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w98 {
  width: 98%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w99 {
  width: 99%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.w100 {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*clear both*/
.cb {
  clear: both; }

body {
  width: 100%;
  height: 100%;
  background: url("../img/fond.jpg"); }

.box_login {
  margin: auto;
  margin-top: 150px;
  padding: 10px;
  height: auto;
  width: 500px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 10px black;
  -moz-box-shadow: 0 1px 10px black;
  box-shadow: 0 1px 10px black; }
  .box_login h2 {
    text-align: center;
    font-size: 18pt;
    padding-bottom: 20px; }
  .box_login .input {
    height: 50px; }
    .box_login .input label {
      width: 250px;
      height: 25px;
      line-height: 25px;
      font-size: 13pt; }
    .box_login .input input {
      float: right;
      border: 0px solid;
      height: 25px;
      padding: 3px;
      background: url("../img/fond.jpg");
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      border-radius: 5px;
      -webkit-box-shadow: 0 1px 1px black;
      -moz-box-shadow: 0 1px 1px black;
      box-shadow: 0 1px 1px black; }
  .box_login .submit input {
    height: 27px;
    font-size: 13pt;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }

header {
  height: 40px;
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #AEAEAE;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;
  text-indent: 20px;
  background: url("../img/spriteh.png"); }
  header a {
    color: #AEAEAE;
    text-decoration: none; }

#sidebar {
  position: fixed;
  width: 250px;
  top: 40px;
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 0 1px 1px #404040;
  -moz-box-shadow: 0 1px 1px #404040;
  box-shadow: 0 1px 1px #404040;
  text-shadow: 0px 1px 0px #000000;
  background-color: #494949;
  border-right: 1px solid #1B1B1B; }
  #sidebar > ul > li > a {
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #AAAAAA;
    border-bottom: 1px solid #313131;
    border-top: 1px solid #606060; }

#content {
  margin-top: 40px;
  margin-left: 252px;
  color: #6D6D6D;
  padding: 20px;
  position: relative; }
  #content .breadcrumb {
    background-color: #F5F5F5;
    height: 50px;
    line-height: 50px;
    padding-left: 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
    #content .breadcrumb a {
      text-decoration: none;
      font-weight: bold;
      color: #6D6D6D; }
  #content .bloc {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 5px 10px #afaeae;
    -moz-box-shadow: 0px 5px 10px #afaeae;
    box-shadow: 0px 5px 10px #afaeae; }
    #content .bloc .title {
      height: 35px;
      padding-left: 15px;
      margin-bottom: 5px;
      position: relative;
      background: url("../img/title.png");
      line-height: 34px;
      font-size: 14px;
      font-weight: bold;
      color: #808080; }

#iframe {
  margin: 10px;
  color: #6D6D6D;
  padding: 20px; }
  #iframe .bloc {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 5px 10px #afaeae;
    -moz-box-shadow: 0px 5px 10px #afaeae;
    box-shadow: 0px 5px 10px #afaeae; }
    #iframe .bloc .title {
      height: 35px;
      padding-left: 15px;
      margin-bottom: 5px;
      position: relative;
      background: url("../img/title.png");
      line-height: 34px;
      font-size: 14px;
      font-weight: bold;
      color: #808080; }

.action {
  padding: 10px; }

/* système de notification*/
.alert, .success, .error, .info, .warning, .btn_add, .btn-info, .btn-danger, .btn-primary {
  display: block;
  font-size: 12pt;
  color: white;
  font-weight: bold;
  padding: 10px;
  margin: auto;
  margin: 10px;
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px black;
  -moz-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black; }
  .alert span.close, .success span.close, .error span.close, .info span.close, .warning span.close, .btn_add span.close, .btn-info span.close, .btn-danger span.close, .btn-primary span.close {
    float: right;
    cursor: pointer; }

.success {
  border-color: #3d3d3d;
  background-color: #5bb75b; }

.error {
  border-color: #454545;
  background-color: #da4f49; }

.info {
  border-color: #3f3f3f;
  background-color: #49afcd; }

.warning {
  border-color: #5c4d37;
  background-color: #faa732; }

/* customisation bouton */
.btn, .btn_add, .btn-info, .btn-danger {
  font-size: 12pt;
  color: white;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.btn_add {
  border-color: #3f3f3f;
  background-color: #49afcd;
  float: right; }

.btn-info {
  border-color: #3f3f3f;
  background-color: #49afcd; }

.btn-danger {
  border-color: #5c4d37;
  background-color: #faa732; }

.btn-primary {
  border-color: #3a3a3a;
  background-color: #428bca; }

.btn-primary.submit {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 30px;
  line-height: 25px; }

/* Mise en forme des formulaires */
table.customers, table.users, table.services, table.orderforms {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid black; }
  table.customers th, table.customers td, table.users th, table.users td, table.services th, table.services td, table.orderforms th, table.orderforms td {
    border: 1px solid black;
    margin: 5px;
    padding: 5px; }
  table.customers th, table.users th, table.services th, table.orderforms th {
    text-align: center;
    font-weight: bold;
    font-size: 13pt;
    height: 25px;
    line-height: 25px;
    color: black; }
  table.customers td.texte, table.users td.texte, table.services td.texte, table.orderforms td.texte {
    text-align: left;
    padding-left: 15px; }

.customers .input, .users .input, .services .input, .orderform .input {
  padding-top: 10px;
  padding-bottom: 10px; }
.customers label, .users label, .services label, .orderform label {
  width: 250px;
  height: 25px;
  line-height: 25px;
  font-size: 13pt;
  padding-left: 15px; }
.customers input, .users input, .services input, .orderform input {
  float: right;
  font-weight: bold;
  border: 0px solid;
  height: 25px;
  padding: 3px;
  background: url("../img/fond.jpg");
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px black;
  -moz-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black; }
.customers select, .users select, .services select, .orderform select {
  float: right;
  font-weight: bold;
  border: 0px solid;
  height: 30px;
  padding: 3px;
  background: url("../img/fond.jpg");
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px black;
  -moz-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black; }
.customers textarea, .users textarea, .services textarea, .orderform textarea {
  float: right;
  font-weight: bold;
  border: 0px solid;
  height: 70px;
  padding: 3px;
  background: url("../img/fond.jpg");
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px black;
  -moz-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black; }

.orderforms {
  margin-top: 15px;
  margin-bottom: 15px; }
  .orderforms .head {
    text-align: center;
    font-weight: bold;
    font-size: 13pt;
    height: 25px;
    line-height: 25px;
    color: black; }
  .orderforms .upper {
    text-transform: uppercase; }
  .orderforms .adresse {
    border: 1px solid black;
    padding: 10px;
    padding-left: 25px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  .orderforms .big {
    font-size: 35pt;
    line-height: 35px;
    margin-bottom: 35px; }
  .orderforms .bold {
    font-weight: bolder; }
  .orderforms input.right {
    text-align: right; }
  .orderforms table thead tr.trcolor, .orderforms table tfoot tr.trcolor {
    background-color: #f5f9fc;
    font-weight: bold;
    font-size: 13pt;
    line-height: 25px; }
  .orderforms table tbody tr, .orderforms table tfoot tr {
    line-height: 25px; }
    .orderforms table tbody tr td.right, .orderforms table tfoot tr td.right {
      text-align: right;
      padding-right: 10px; }

.inline {
  display: inline-block;
  margin-top: 3px;
  margin-bottom: 3px; }

/* autocomplete */
.autocomplete-suggestions {
  border: 1px solid #999;
  background: #FFF;
  overflow: auto; }

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden; }
  .autocomplete-suggestion strong {
    font-weight: normal;
    color: #3399FF; }

.autocomplete-selected {
  background: #F0F0F0; }
