@charset "UTF-8";
/* line 17, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* icons */
@font-face {
  font-family: 'Halflings';
  src: url("fonts/icons-halflings-regular.eot");
  src: url("fonts/icons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/icons-halflings-regular.woff") format("woff"), url("../fonts/icons-halflings-regular.ttf") format("truetype"), url("../fonts/icons-halflings-regular.svg#icons_halflingsregular") format("svg");
}

/* line 9, ../sass/_icons.scss */
.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 20, ../sass/_icons.scss */
.icon-asterisk:before {
  content: "\2a";
}

/* line 23, ../sass/_icons.scss */
.icon-plus:before {
  content: "\2b";
}

/* line 26, ../sass/_icons.scss */
.icon-euro:before {
  content: "\20ac";
}

/* line 29, ../sass/_icons.scss */
.icon-minus:before {
  content: "\2212";
}

/* line 32, ../sass/_icons.scss */
.icon-cloud:before {
  content: "\2601";
}

/* line 35, ../sass/_icons.scss */
.icon-envelope:before {
  content: "\2709";
}

/* line 38, ../sass/_icons.scss */
.icon-pencil:before {
  content: "\270f";
}

/* line 41, ../sass/_icons.scss */
.icon-glass:before {
  content: "\e001";
}

/* line 44, ../sass/_icons.scss */
.icon-music:before {
  content: "\e002";
}

/* line 47, ../sass/_icons.scss */
.icon-search:before {
  content: "\e003";
}

/* line 50, ../sass/_icons.scss */
.icon-heart:before {
  content: "\e005";
}

/* line 53, ../sass/_icons.scss */
.icon-star:before {
  content: "\e006";
}

/* line 56, ../sass/_icons.scss */
.icon-star-empty:before {
  content: "\e007";
}

/* line 59, ../sass/_icons.scss */
.icon-user:before {
  content: "\e008";
}

/* line 62, ../sass/_icons.scss */
.icon-film:before {
  content: "\e009";
}

/* line 65, ../sass/_icons.scss */
.icon-th-large:before {
  content: "\e010";
}

/* line 68, ../sass/_icons.scss */
.icon-th:before {
  content: "\e011";
}

/* line 71, ../sass/_icons.scss */
.icon-th-list:before {
  content: "\e012";
}

/* line 74, ../sass/_icons.scss */
.icon-ok:before {
  content: "\e013";
}

/* line 77, ../sass/_icons.scss */
.icon-remove:before {
  content: "\e014";
}

/* line 80, ../sass/_icons.scss */
.icon-zoom-in:before {
  content: "\e015";
}

/* line 83, ../sass/_icons.scss */
.icon-zoom-out:before {
  content: "\e016";
}

/* line 86, ../sass/_icons.scss */
.icon-off:before {
  content: "\e017";
}

/* line 89, ../sass/_icons.scss */
.icon-signal:before {
  content: "\e018";
}

/* line 92, ../sass/_icons.scss */
.icon-cog:before {
  content: "\e019";
}

/* line 95, ../sass/_icons.scss */
.icon-trash:before {
  content: "\e020";
}

/* line 98, ../sass/_icons.scss */
.icon-home:before {
  content: "\e021";
}

/* line 101, ../sass/_icons.scss */
.icon-file:before {
  content: "\e022";
}

/* line 104, ../sass/_icons.scss */
.icon-time:before {
  content: "\e023";
}

/* line 107, ../sass/_icons.scss */
.icon-road:before {
  content: "\e024";
}

/* line 110, ../sass/_icons.scss */
.icon-download-alt:before {
  content: "\e025";
}

/* line 113, ../sass/_icons.scss */
.icon-download:before {
  content: "\e026";
}

/* line 116, ../sass/_icons.scss */
.icon-upload:before {
  content: "\e027";
}

/* line 119, ../sass/_icons.scss */
.icon-inbox:before {
  content: "\e028";
}

/* line 122, ../sass/_icons.scss */
.icon-play-circle:before {
  content: "\e029";
}

/* line 125, ../sass/_icons.scss */
.icon-repeat:before {
  content: "\e030";
}

/* line 128, ../sass/_icons.scss */
.icon-refresh:before {
  content: "\e031";
}

/* line 131, ../sass/_icons.scss */
.icon-list-alt:before {
  content: "\e032";
}

/* line 134, ../sass/_icons.scss */
.icon-lock:before {
  content: "\e033";
}

/* line 137, ../sass/_icons.scss */
.icon-flag:before {
  content: "\e034";
}

/* line 140, ../sass/_icons.scss */
.icon-headphones:before {
  content: "\e035";
}

/* line 143, ../sass/_icons.scss */
.icon-volume-off:before {
  content: "\e036";
}

/* line 146, ../sass/_icons.scss */
.icon-volume-down:before {
  content: "\e037";
}

/* line 149, ../sass/_icons.scss */
.icon-volume-up:before {
  content: "\e038";
}

/* line 152, ../sass/_icons.scss */
.icon-qrcode:before {
  content: "\e039";
}

/* line 155, ../sass/_icons.scss */
.icon-barcode:before {
  content: "\e040";
}

/* line 158, ../sass/_icons.scss */
.icon-tag:before {
  content: "\e041";
}

/* line 161, ../sass/_icons.scss */
.icon-tags:before {
  content: "\e042";
}

/* line 164, ../sass/_icons.scss */
.icon-book:before {
  content: "\e043";
}

/* line 167, ../sass/_icons.scss */
.icon-bookmark:before {
  content: "\e044";
}

/* line 170, ../sass/_icons.scss */
.icon-print:before {
  content: "\e045";
}

/* line 173, ../sass/_icons.scss */
.icon-camera:before {
  content: "\e046";
}

/* line 176, ../sass/_icons.scss */
.icon-font:before {
  content: "\e047";
}

/* line 179, ../sass/_icons.scss */
.icon-bold:before {
  content: "\e048";
}

/* line 182, ../sass/_icons.scss */
.icon-italic:before {
  content: "\e049";
}

/* line 185, ../sass/_icons.scss */
.icon-text-height:before {
  content: "\e050";
}

/* line 188, ../sass/_icons.scss */
.icon-text-width:before {
  content: "\e051";
}

/* line 191, ../sass/_icons.scss */
.icon-align-left:before {
  content: "\e052";
}

/* line 194, ../sass/_icons.scss */
.icon-align-center:before {
  content: "\e053";
}

/* line 197, ../sass/_icons.scss */
.icon-align-right:before {
  content: "\e054";
}

/* line 200, ../sass/_icons.scss */
.icon-align-justify:before {
  content: "\e055";
}

/* line 203, ../sass/_icons.scss */
.icon-list:before {
  content: "\e056";
}

/* line 206, ../sass/_icons.scss */
.icon-indent-left:before {
  content: "\e057";
}

/* line 209, ../sass/_icons.scss */
.icon-indent-right:before {
  content: "\e058";
}

/* line 212, ../sass/_icons.scss */
.icon-facetime-video:before {
  content: "\e059";
}

/* line 215, ../sass/_icons.scss */
.icon-picture:before {
  content: "\e060";
}

/* line 218, ../sass/_icons.scss */
.icon-map-marker:before {
  content: "\e062";
}

/* line 221, ../sass/_icons.scss */
.icon-adjust:before {
  content: "\e063";
}

/* line 224, ../sass/_icons.scss */
.icon-tint:before {
  content: "\e064";
}

/* line 227, ../sass/_icons.scss */
.icon-edit:before {
  content: "\e065";
}

/* line 230, ../sass/_icons.scss */
.icon-share:before {
  content: "\e066";
}

/* line 233, ../sass/_icons.scss */
.icon-check:before {
  content: "\e067";
}

/* line 236, ../sass/_icons.scss */
.icon-move:before {
  content: "\e068";
}

/* line 239, ../sass/_icons.scss */
.icon-step-backward:before {
  content: "\e069";
}

/* line 242, ../sass/_icons.scss */
.icon-fast-backward:before {
  content: "\e070";
}

/* line 245, ../sass/_icons.scss */
.icon-backward:before {
  content: "\e071";
}

/* line 248, ../sass/_icons.scss */
.icon-play:before {
  content: "\e072";
}

/* line 251, ../sass/_icons.scss */
.icon-pause:before {
  content: "\e073";
}

/* line 254, ../sass/_icons.scss */
.icon-stop:before {
  content: "\e074";
}

/* line 257, ../sass/_icons.scss */
.icon-forward:before {
  content: "\e075";
}

/* line 260, ../sass/_icons.scss */
.icon-fast-forward:before {
  content: "\e076";
}

/* line 263, ../sass/_icons.scss */
.icon-step-forward:before {
  content: "\e077";
}

/* line 266, ../sass/_icons.scss */
.icon-eject:before {
  content: "\e078";
}

/* line 269, ../sass/_icons.scss */
.icon-chevron-left:before {
  content: "\e079";
}

/* line 272, ../sass/_icons.scss */
.icon-chevron-right:before {
  content: "\e080";
}

/* line 275, ../sass/_icons.scss */
.icon-plus-sign:before {
  content: "\e081";
}

/* line 278, ../sass/_icons.scss */
.icon-minus-sign:before {
  content: "\e082";
}

/* line 281, ../sass/_icons.scss */
.icon-remove-sign:before {
  content: "\e083";
}

/* line 284, ../sass/_icons.scss */
.icon-ok-sign:before {
  content: "\e084";
}

/* line 287, ../sass/_icons.scss */
.icon-question-sign:before {
  content: "\e085";
}

/* line 290, ../sass/_icons.scss */
.icon-info-sign:before {
  content: "\e086";
}

/* line 293, ../sass/_icons.scss */
.icon-screenshot:before {
  content: "\e087";
}

/* line 296, ../sass/_icons.scss */
.icon-remove-circle:before {
  content: "\e088";
}

/* line 299, ../sass/_icons.scss */
.icon-ok-circle:before {
  content: "\e089";
}

/* line 302, ../sass/_icons.scss */
.icon-ban-circle:before {
  content: "\e090";
}

/* line 305, ../sass/_icons.scss */
.icon-arrow-left:before {
  content: "\e091";
}

/* line 308, ../sass/_icons.scss */
.icon-arrow-right:before {
  content: "\e092";
}

/* line 311, ../sass/_icons.scss */
.icon-arrow-up:before {
  content: "\e093";
}

/* line 314, ../sass/_icons.scss */
.icon-arrow-down:before {
  content: "\e094";
}

/* line 317, ../sass/_icons.scss */
.icon-share-alt:before {
  content: "\e095";
}

/* line 320, ../sass/_icons.scss */
.icon-resize-full:before {
  content: "\e096";
}

/* line 323, ../sass/_icons.scss */
.icon-resize-small:before {
  content: "\e097";
}

/* line 326, ../sass/_icons.scss */
.icon-exclamation-sign:before {
  content: "\e101";
}

/* line 329, ../sass/_icons.scss */
.icon-gift:before {
  content: "\e102";
}

/* line 332, ../sass/_icons.scss */
.icon-leaf:before {
  content: "\e103";
}

/* line 335, ../sass/_icons.scss */
.icon-fire:before {
  content: "\e104";
}

/* line 338, ../sass/_icons.scss */
.icon-eye-open:before {
  content: "\e105";
}

/* line 341, ../sass/_icons.scss */
.icon-eye-close:before {
  content: "\e106";
}

/* line 344, ../sass/_icons.scss */
.icon-warning-sign:before {
  content: "\e107";
}

/* line 347, ../sass/_icons.scss */
.icon-plane:before {
  content: "\e108";
}

/* line 350, ../sass/_icons.scss */
.icon-calendar:before {
  content: "\e109";
}

/* line 353, ../sass/_icons.scss */
.icon-random:before {
  content: "\e110";
}

/* line 356, ../sass/_icons.scss */
.icon-comment:before {
  content: "\e111";
}

/* line 359, ../sass/_icons.scss */
.icon-magnet:before {
  content: "\e112";
}

/* line 362, ../sass/_icons.scss */
.icon-chevron-up:before {
  content: "\e113";
}

/* line 365, ../sass/_icons.scss */
.icon-chevron-down:before {
  content: "\e114";
}

/* line 368, ../sass/_icons.scss */
.icon-retweet:before {
  content: "\e115";
}

/* line 371, ../sass/_icons.scss */
.icon-shopping-cart:before {
  content: "\e116";
}

/* line 374, ../sass/_icons.scss */
.icon-folder-close:before {
  content: "\e117";
}

/* line 377, ../sass/_icons.scss */
.icon-folder-open:before {
  content: "\e118";
}

/* line 380, ../sass/_icons.scss */
.icon-resize-vertical:before {
  content: "\e119";
}

/* line 383, ../sass/_icons.scss */
.icon-resize-horizontal:before {
  content: "\e120";
}

/* line 386, ../sass/_icons.scss */
.icon-hdd:before {
  content: "\e121";
}

/* line 389, ../sass/_icons.scss */
.icon-bullhorn:before {
  content: "\e122";
}

/* line 392, ../sass/_icons.scss */
.icon-bell:before {
  content: "\e123";
}

/* line 395, ../sass/_icons.scss */
.icon-certificate:before {
  content: "\e124";
}

/* line 398, ../sass/_icons.scss */
.icon-thumbs-up:before {
  content: "\e125";
}

/* line 401, ../sass/_icons.scss */
.icon-thumbs-down:before {
  content: "\e126";
}

/* line 404, ../sass/_icons.scss */
.icon-hand-right:before {
  content: "\e127";
}

/* line 407, ../sass/_icons.scss */
.icon-hand-left:before {
  content: "\e128";
}

/* line 410, ../sass/_icons.scss */
.icon-hand-up:before {
  content: "\e129";
}

/* line 413, ../sass/_icons.scss */
.icon-hand-down:before {
  content: "\e130";
}

/* line 416, ../sass/_icons.scss */
.icon-circle-arrow-right:before {
  content: "\e131";
}

/* line 419, ../sass/_icons.scss */
.icon-circle-arrow-left:before {
  content: "\e132";
}

/* line 422, ../sass/_icons.scss */
.icon-circle-arrow-up:before {
  content: "\e133";
}

/* line 425, ../sass/_icons.scss */
.icon-circle-arrow-down:before {
  content: "\e134";
}

/* line 428, ../sass/_icons.scss */
.icon-globe:before {
  content: "\e135";
}

/* line 431, ../sass/_icons.scss */
.icon-wrench:before {
  content: "\e136";
}

/* line 434, ../sass/_icons.scss */
.icon-tasks:before {
  content: "\e137";
}

/* line 437, ../sass/_icons.scss */
.icon-filter:before {
  content: "\e138";
}

/* line 440, ../sass/_icons.scss */
.icon-briefcase:before {
  content: "\e139";
}

/* line 443, ../sass/_icons.scss */
.icon-fullscreen:before {
  content: "\e140";
}

/* line 446, ../sass/_icons.scss */
.icon-dashboard:before {
  content: "\e141";
}

/* line 449, ../sass/_icons.scss */
.icon-paperclip:before {
  content: "\e142";
}

/* line 452, ../sass/_icons.scss */
.icon-heart-empty:before {
  content: "\e143";
}

/* line 455, ../sass/_icons.scss */
.icon-link:before {
  content: "\e144";
}

/* line 458, ../sass/_icons.scss */
.icon-phone:before {
  content: "\e145";
}

/* line 461, ../sass/_icons.scss */
.icon-pushpin:before {
  content: "\e146";
}

/* line 464, ../sass/_icons.scss */
.icon-usd:before {
  content: "\e148";
}

/* line 467, ../sass/_icons.scss */
.icon-gbp:before {
  content: "\e149";
}

/* line 470, ../sass/_icons.scss */
.icon-sort:before {
  content: "\e150";
}

/* line 473, ../sass/_icons.scss */
.icon-sort-by-alphabet:before {
  content: "\e151";
}

/* line 476, ../sass/_icons.scss */
.icon-sort-by-alphabet-alt:before {
  content: "\e152";
}

/* line 479, ../sass/_icons.scss */
.icon-sort-by-order:before {
  content: "\e153";
}

/* line 482, ../sass/_icons.scss */
.icon-sort-by-order-alt:before {
  content: "\e154";
}

/* line 485, ../sass/_icons.scss */
.icon-sort-by-attributes:before {
  content: "\e155";
}

/* line 488, ../sass/_icons.scss */
.icon-sort-by-attributes-alt:before {
  content: "\e156";
}

/* line 491, ../sass/_icons.scss */
.icon-unchecked:before {
  content: "\e157";
}

/* line 494, ../sass/_icons.scss */
.icon-expand:before {
  content: "\e158";
}

/* line 497, ../sass/_icons.scss */
.icon-collapse-down:before {
  content: "\e159";
}

/* line 500, ../sass/_icons.scss */
.icon-collapse-up:before {
  content: "\e160";
}

/* line 503, ../sass/_icons.scss */
.icon-log-in:before {
  content: "\e161";
}

/* line 506, ../sass/_icons.scss */
.icon-flash:before {
  content: "\e162";
}

/* line 509, ../sass/_icons.scss */
.icon-log-out:before {
  content: "\e163";
}

/* line 512, ../sass/_icons.scss */
.icon-new-window:before {
  content: "\e164";
}

/* line 515, ../sass/_icons.scss */
.icon-record:before {
  content: "\e165";
}

/* line 518, ../sass/_icons.scss */
.icon-save:before {
  content: "\e166";
}

/* line 521, ../sass/_icons.scss */
.icon-open:before {
  content: "\e167";
}

/* line 524, ../sass/_icons.scss */
.icon-saved:before {
  content: "\e168";
}

/* line 527, ../sass/_icons.scss */
.icon-import:before {
  content: "\e169";
}

/* line 530, ../sass/_icons.scss */
.icon-export:before {
  content: "\e170";
}

/* line 533, ../sass/_icons.scss */
.icon-send:before {
  content: "\e171";
}

/* line 536, ../sass/_icons.scss */
.icon-floppy-disk:before {
  content: "\e172";
}

/* line 539, ../sass/_icons.scss */
.icon-floppy-saved:before {
  content: "\e173";
}

/* line 542, ../sass/_icons.scss */
.icon-floppy-remove:before {
  content: "\e174";
}

/* line 545, ../sass/_icons.scss */
.icon-floppy-save:before {
  content: "\e175";
}

/* line 548, ../sass/_icons.scss */
.icon-floppy-open:before {
  content: "\e176";
}

/* line 551, ../sass/_icons.scss */
.icon-credit-card:before {
  content: "\e177";
}

/* line 554, ../sass/_icons.scss */
.icon-transfer:before {
  content: "\e178";
}

/* line 557, ../sass/_icons.scss */
.icon-cutlery:before {
  content: "\e179";
}

/* line 560, ../sass/_icons.scss */
.icon-header:before {
  content: "\e180";
}

/* line 563, ../sass/_icons.scss */
.icon-compressed:before {
  content: "\e181";
}

/* line 566, ../sass/_icons.scss */
.icon-earphone:before {
  content: "\e182";
}

/* line 569, ../sass/_icons.scss */
.icon-phone-alt:before {
  content: "\e183";
}

/* line 572, ../sass/_icons.scss */
.icon-tower:before {
  content: "\e184";
}

/* line 575, ../sass/_icons.scss */
.icon-stats:before {
  content: "\e185";
}

/* line 578, ../sass/_icons.scss */
.icon-sd-video:before {
  content: "\e186";
}

/* line 581, ../sass/_icons.scss */
.icon-hd-video:before {
  content: "\e187";
}

/* line 584, ../sass/_icons.scss */
.icon-subtitles:before {
  content: "\e188";
}

/* line 587, ../sass/_icons.scss */
.icon-sound-stereo:before {
  content: "\e189";
}

/* line 590, ../sass/_icons.scss */
.icon-sound-dolby:before {
  content: "\e190";
}

/* line 593, ../sass/_icons.scss */
.icon-sound-5-1:before {
  content: "\e191";
}

/* line 596, ../sass/_icons.scss */
.icon-sound-6-1:before {
  content: "\e192";
}

/* line 599, ../sass/_icons.scss */
.icon-sound-7-1:before {
  content: "\e193";
}

/* line 602, ../sass/_icons.scss */
.icon-copyright-mark:before {
  content: "\e194";
}

/* line 605, ../sass/_icons.scss */
.icon-registration-mark:before {
  content: "\e195";
}

/* line 608, ../sass/_icons.scss */
.icon-cloud-download:before {
  content: "\e197";
}

/* line 611, ../sass/_icons.scss */
.icon-cloud-upload:before {
  content: "\e198";
}

/* line 614, ../sass/_icons.scss */
.icon-tree-conifer:before {
  content: "\e199";
}

/* line 617, ../sass/_icons.scss */
.icon-tree-deciduous:before {
  content: "\e200";
}

/* line 24, ../sass/style.scss */
body {
  width: 100%;
  height: 100%;
  background: url("../img/fond.jpg");
}

/* line 29, ../sass/style.scss */
.box_login {
  margin: auto;
  margin-top: 150px;
  padding: 10px;
  height: auto;
  width: 500px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 10px black;
  -moz-box-shadow: 0 1px 10px black;
  box-shadow: 0 1px 10px black;
}
/* line 41, ../sass/style.scss */
.box_login h2 {
  text-align: center;
  font-size: 18pt;
  padding-bottom: 20px;
}
/* line 47, ../sass/style.scss */
.box_login .input {
  height: 50px;
}
/* line 50, ../sass/style.scss */
.box_login .input label {
  width: 250px;
  height: 25px;
  line-height: 25px;
  font-size: 13pt;
}
/* line 56, ../sass/style.scss */
.box_login .input input {
  float: right;
  border: 0px solid;
  width: 250px;
  height: 25px;
  padding: 3px;
  background: url("../img/fond.jpg");
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px black;
  -moz-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black;
}
/* line 68, ../sass/style.scss */
.box_login .submit input {
  width: 500px;
  height: 27px;
  font-size: 13pt;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
/* line 75, ../sass/style.scss */
.box_login .submit input:hover {
  color: white;
  font-weight: bold;
}

/* line 81, ../sass/style.scss */
header {
  height: 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #AEAEAE;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;
  text-indent: 20px;
  background: url("../img/spriteh.png");
}
/* line 94, ../sass/style.scss */
header a {
  color: #AEAEAE;
  text-decoration: none;
}

/* line 100, ../sass/style.scss */
#sidebar {
  position: fixed;
  width: 250px;
  top: 40px;
  left: 0;
  bottom: 0;
  -webkit-box-shadow: 0 1px 1px #404040;
  -moz-box-shadow: 0 1px 1px #404040;
  box-shadow: 0 1px 1px #404040;
  /*+text-shadow:0px 1px 0px #000000;*/
  -moz-text-shadow: 0px 1px 0px #000000;
  -webkit-text-shadow: 0px 1px 0px #000000;
  -o-text-shadow: 0px 1px 0px #000000;
  text-shadow: 0px 1px 0px #000000;
  background-color: #494949;
  border-right: 1px solid #1B1B1B;
}
/* line 114, ../sass/style.scss */
#sidebar > ul > li > a {
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #AAAAAA;
  /*+text-shadow:0px 1px #0D0D0D;*/
  -moz-text-shadow: 0px 1px #0D0D0D;
  -webkit-text-shadow: 0px 1px #0D0D0D;
  -o-text-shadow: 0px 1px #0D0D0D;
  text-shadow: 0px 1px #0D0D0D;
  border-bottom: 1px solid #313131;
  border-top: 1px solid #606060;
}

/* line 132, ../sass/style.scss */
#content {
  margin-top: 40px;
  margin-left: 252px;
  color: #6D6D6D;
  padding: 20px;
  position: relative;
}
/* line 139, ../sass/style.scss */
#content .breadcrumb {
  background-color: grey;
  height: 20px;
  line-height: 20px;
  padding-left: 25px;
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 147, ../sass/style.scss */
#content .breadcrumb a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
/* line 154, ../sass/style.scss */
#content .bloc {
  margin: 20px 0px 0px;
  padding: 15px;
  background-color: #FFFFFF;
  overflow: hidden;
  /*+box-shadow:0px 5px 10px #AFAEAE;*/
  -moz-box-shadow: 0px 5px 10px #AFAEAE;
  -webkit-box-shadow: 0px 5px 10px #AFAEAE;
  -o-box-shadow: 0px 5px 10px #AFAEAE;
  box-shadow: 0px 5px 10px #AFAEAE;
}
/* line 165, ../sass/style.scss */
#content .bloc .title {
  height: 35px;
  position: relative;
  background: url(../img/bloctitle.png);
  line-height: 34px;
  padding: 0 10px;
  font-size: 14px;
  font-weight: bold;
  color: #808080;
  /*+text-shadow:0 -1px 0px #000;*/
  -moz-text-shadow: 0 -1px 0px #000;
  -webkit-text-shadow: 0 -1px 0px #000;
  -o-text-shadow: 0 -1px 0px #000;
  text-shadow: 0 -1px 0px #000;
}

/* tableau */
/* line 184, ../sass/style.scss */
table.tableau {
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 188, ../sass/style.scss */
table.tableau tr td {
  border: 1px solid black;
}

/* système de notification*/
/* line 194, ../sass/style.scss */
.alert, .success, .error, .info, .warning {
  padding: 10px;
  margin: 10px;
  width: 460px;
  border: 1px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px black;
  -moz-box-shadow: 0 1px 1px black;
  box-shadow: 0 1px 1px black;
}
/* line 202, ../sass/style.scss */
.alert span.close, .success span.close, .error span.close, .info span.close, .warning span.close {
  float: right;
  cursor: pointer;
}

/* line 208, ../sass/style.scss */
.success {
  border-color: #81bb81;
  background-color: #d6ffd6;
}

/* line 212, ../sass/style.scss */
.error {
  border-color: #bc8383;
  background-color: #ffd9d9;
}

/* line 216, ../sass/style.scss */
.info {
  border-color: #242442;
  background-color: blue;
}

/* line 220, ../sass/style.scss */
.warning {
  border-color: #423824;
  background-color: orange;
}
